* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: lightgrey;
  font-family: 'David Libre', serif;
  color: #240f4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  margin-top: auto;
  font-size: .6rem;
  padding: 1em;
}

footer a {
  color: black;
}

.header {
  color: #240f4b;
  font-size: 3.5rem;
  margin: 0px auto;
  padding-top: .5em;
  font-family: 'Pacifico', cursive;
}

@media (min-width: 700px) {
  .header {
    padding-top: 1em;
  }
}

.subtitle {
  margin: 1em 0 .6em 0;
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  .subtitle {
    font-size: 1.7rem;
  }
}

.subtitle--small {
  font-size: 1.4rem;
  margin-top: .5em;
}

.subtitle--large {
  font-size: 1.7rem;
  margin-top: .5em;
}

.alert {
  height: 2rem;
  padding: 0;
  margin-bottom: .4em;
}

.alert-text {
  font-size: 1.3rem;
  color: red;
  display: none;
}

.play-instruction {
  font-size: 1.5rem;
  text-align: center;
  display: none;
  margin-top: 2em;
}

#winningText {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-chooseside {
  height: 1.7em;
  width: 4.5em;
  margin: 1em 1em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn-chooseside_icon {
  width: 17px;
  height: 17px;
  pointer-events: none;
}

#gameArea {
  margin: 0 auto 2.5em auto;
  width: 316px;
  height: 316px;
  padding: 0px;
  background-color: #00c3ff;
  pointer-events: none;
}

.gameSquare {
  padding: .5em;
}

.gameSquare_icon {
  pointer-events: none;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

tr {
  height: 100px;
  padding: 0px;
  margin: 0px;
}

td {
  width: 100px;
  height: 100px;
  border: 2px solid #240f4b;
  padding: .3em;
  margin: 0px;
  text-align: center;
  vertical-align: center;
}
/*# sourceMappingURL=style.css.map */