* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%
}

html, body {
    // height: 100%;
}
body {
    // height: 100%;
    background-color: lightgrey;
    // font-family: 'Baloo Tammudu 2', cursive;
    font-family: 'David Libre', serif;
    color: rgb(36, 15, 75);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // position: relative;

    
   
}

.container-main {
    width: 80%;
    margin: 1em auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

}



