* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    font-family: 'Baloo Tammudu 2', cursive;
   
}

.container-main {
    width: 80%;
    margin: 1em auto;
    text-align: center;
}

