.header{
    color: rgb(36, 15, 75);
    font-size: 3.5rem;
    margin: 0px auto;
    padding-top: .5em;
    font-family: 'Pacifico', cursive; 

    @include atMedium {
        padding-top: 1em;
    }
}

.subtitle{
    margin: 1em 0 .6em 0;
    font-size: 1.5rem;

   @include atMedium {
    font-size: 1.7rem;
   }
 
   &--small {
       font-size: 1.4rem;
       margin-top: .5em;
   }

   &--large {
    font-size: 1.7rem;
    margin-top: .5em;
    }
   
}

.alert {
    height: 2rem;
    padding: 0;
    margin-bottom: .4em;
}

.alert-text {
    font-size: 1.3rem;
    color: red;
    display: none;
}



.play-instruction {
    font-size: 1.5rem; 
    text-align: center; 
    display: none;
    margin-top: 2em;
}


#winningText {
    font-weight: bold;
    font-size: 50px; 
    text-align: center;
}

.button-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn-chooseside {
    height: 1.7em;
    width: 4.5em;
    margin: 1em 1em 0 1em;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.1rem;
    font-weight: bold;

    &_icon {
        width: 17px;
        height: 17px;
        pointer-events: none;
    }
}


