.header{
    
    color: black;
    font-size: 4rem;
    margin-top: 0px;
    padding-top: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    

}

.subtitle{
   font-size: 2rem;
   margin-top: 1.5em;

   &--small {
       font-size: 1.7rem;
       margin-top: .5em;
   }
}

.play-instruction {
    
    font-size: 1.5rem; 
    text-align: center; 
    display: none;
    margin-top: 2em;
}


#winningText {
    
    font-weight: bold;
    font-size:50px; 
    text-align: center; 

}

.button-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn-chooseside {
    height: 2em;
    width: 5em;
    margin: 1em 1em 0 1em;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.1rem;
    font-weight: bold;
    

    &_icon {
        width: 20px;
        height: 20px;
        pointer-events: none;
        
        
    }
}

